html, body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  font-family: "Times New Roman", Georgia, Serif;

}

.header-content, .header-auto {
    margin-left: auto;
    margin-right: auto;
}

.header-display-container {
  position: relative;
  display: block;
}

.top-bar {
    overflow: hidden;
    position: fixed;
    padding: 14px 16px;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
}

.top-card, .top-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

.button-button:hover {
  color: #000 !important;
  background-color: #ccc !important;

}

.top-bar .button-button {
  white-space: normal;
}

.top-bar .top-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  text-decoration: none;

}

.top-white, .top-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.button {
    text-decoration: none;
    cursor: pointer;
}

.right-bar {
    float: right;
}

a:hover {
    color: #000 !important;
}

img {
    max-width: 100%;
    height: 475px;
    vertical-align: middle;
    box-sizing: inherit;
    border-radius: 4px;

}

.skills-col.m6, .skills-half {
  width: 49.99999%;
}

.skills-padding-large {
  padding: 12px 24px !important;

}

.skills-col.m6 {
  float: left;

}

.skills-col.m6 .skills-padding-large {
    float: right;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

h1 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
    text-align: center;
}

*, ::before, ::after {
  box-sizing: border-box;
  align-content: center;
}

.skills-center {
  text-align: center !important;
}

.skills-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.content, .content-auto {
  margin-left: auto;
  margin-right: auto;
}

.skills-large {
  font-size: 20px !important;
}

.projects-col.l6 {
  width: 49.99999%;
  float: left;
}

.projects-padding-large {
  padding: 12px 24px !important;
}

.projects-padding-64 {
  padding-top: 64px ;
  padding-bottom: 64px ;
}

img.back {
    max-width: 100%;
    height: 475px;
    vertical-align: middle;
    box-sizing: inherit;
    border-radius: 4px;
    padding: 45px;
    margin-top: 5px;

}
